# Python.
*.pyc
__pycache__

# NFS.
.nfs*

# MacOS.
.DS_Store

# Raw and cleaned datasets.
data/*/raw/*
!data/*/raw/download.sh
data/*/*.tsv
data/*/*.csv
data/*/*.txt

# Model output.
data/*/*.ckpt
data/*/*.output
data/*/*.vector/*
data/*/*.cluster
data/*/*.results

# Log fact-checks
!data/fact-checks/data_w_rationale_clusters.csv
!data/fact-checks/soft_rationalizer_w_domain.vector/rationale_embeddings_filtered.csv

# Paper
docs
