# Python.
*.pyc
__pycache__

# NFS.
.nfs*

# MacOS.
.DS_Store

# Raw and cleaned datasets.
data/*/raw/*
!data/*/raw/download.sh
data/*/*.tsv
data/*/*.csv
data/*/*.txt

# Model output.
data/*/*.ckpt
data/*/*.output
data/*/*.vector
data/*/*.cluster

# Paper
docs
